In [6]:
! python --version

Python 3.12.3

In [7]:
print("Hello World!")

Hello World!

In [8]:
import sys
print(sys.version)

3.12.3 (main, Apr 10 2024, 05:33:47) [GCC 13.2.0]

In [24]:
num = 1

if num == 1:
    print(True)
    print("Another Line")
else:
  print(False)
  print("Another Line")

for ele in [1, 2]:
 print(ele)

True
Another Line
1
2

In [25]:
"""This is something else.
I need to check it once again
"""

'This is something else.\nI need to check it once again\n'

In [26]:
x, y, first_name = 16.89, -8, "sai"
print(x, y, first_name)

16.89 -8 sai

In [27]:
x = y = first_name = 'sai'
print(x, y, first_name)

sai sai sai

In [4]:
x = [1, 2, "apple"]
x = (1, 2, "apple")
x = {1, 2, "apple"}
x = {"name": "sai", "age": 23, "height": 5.8}
y, z, a = x
print(y, z, a)

name age height

In [2]:
[x, y, z] = [0, 1.2, 'apple']
print(x, y, z)

x = [1, 2.2, "apple"]
[x, y, z] = x

0 1.2 apple

In [10]:
x = 'test'
y = 'best'
z = 'mest'

def func():
    global x, y
    x = 'test_2'
    y = 'best_2'
    print(x, y)

func()

print(x, y)

if True:
    z = 'mest_2'
    print(z)

print(z)

test_2 best_2
test_2 best_2
mest_2
mest_2

In [12]:
x = 5
print(type(x))

<class 'int'>

In [13]:
x = 2 + 3j
print(type(x))

<class 'complex'>

In [14]:
x = range(-5)
print(type(x))

<class 'range'>

In [23]:
x = frozenset({"apple", 5, 5.9})
# x.add("cherry")
print(type(x))

<class 'frozenset'>

In [27]:
x = list(("apple", 2, 3.5))
print(x)

['apple', 2, 3.5]

In [38]:
x = memoryview(bytes(5))
print(x)
y = bytes("a", "UTF")
print(y)
z = bytearray(5)
print(z)

<memory at 0x72e469b1bc40>
b'a'
bytearray(b'\x00\x00\x00\x00\x00')

In [48]:
x = 5.3e10
print(x)

53000000000.0

In [54]:
x = complex(5)
y = str(x)
print(x, y)
print(type(x), type(y))

(5+0j) (5+0j)
<class 'complex'> <class 'str'>

In [100]:
import random
numbers = random.randrange(2, 8)
print(numbers)

3

In [108]:
for i in range(2):
    x = """This is a cat
and we all know that every cat has a great
way to interact with rats."""
    print(x)

This is a cat
and we all know that every cat has a great
way to interact with rats.
This is a cat
and we all know that every cat has a great
way to interact with rats.

In [117]:
x = "0123456789"
slice_x = x[-6 : -2]
print(slice_x)

4567

In [120]:
x = "  123 "
y = x.strip()
print(y)

123

In [122]:
x = "abcABC"
x = "ß"
print(x.lower())
print(x.casefold())

ß
ss

In [1]:
print("abc abcd ab".replace("ab", "ef"))

efc efcd ef

In [4]:
y = 5
def twice(num):
    return num * 2

x = f"i am {} years old."
print(x)

i am 3.0 years old.

In [17]:
x = 65
y = f"{65.23456789:.5f}"
print(y)

65.23457

In [34]:
x = "ab abc abcd ab"
# y = x.index("10")
# y = x.find("02")
print(y)

-1

An example of non-ascii character.

&#163;

In [43]:
x = 'this is a cat'
y = x.rsplit(' ', -1)
print(y)

['this', 'is', 'a', 'cat']

In [50]:
print(bool([1, 2.5, "apple"]))
print(bool(0))

True
False

In [78]:
x = 5
x = x >> 9
print(x)

0

In [85]:
x = "this is a car"
y = "this is a" in x
x = [1, 2.1, "apple"]
y = 1, 2.1 in x
print(y)

(1, True)